/*앱 컴포넌트에만 적용되는 애가 아님*/
/*각 컴포넌트에 특화된 애를 활용하려면 module붙이면돼*/
.App {
  width: 80%;
  text-align: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.homeB {
  width: 230px;

}
.nav_center {
  width: 100%;
}
.me-auto{
  text-align: center;
  display : flex;
  justify-content : center;  /* 좌우정렬 */
  width: 2304px;
}
.userB{
  width: 140px;
}
.homeB{
  width: 100px;
}
.photoB {
  width: 100px;
}
.postB {
  width: 100px;
}
.profile {
  text-align: center;
  display : flex;
  justify-content : center;  /* 좌우정렬 */
  height: 50vh;
  width: 2304px;
}
.profileImage {
  width: 50%;
}
.profileInfo {
  width: 50%;
}
.introV{
  justify-content: center;
  height: 40vh;
  width: 20vw;
}
